.btw-status-recalculating {
  animation: blink 2s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.btw-status-unknown {
  text-decoration: line-through;
}

.status-footer a { color: inherit; }
.status-footer svg { height: 1em; width: 1em; }
.status-provider-model {
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  overflow: hidden;
}
.modal { --bs-modal-margin: min(2rem, 10%); }

.btw-open-file.btn {
  --_icon-size: var(--shiny-tool-card-icon-size, 16px);
  --_padding: 3px;
  width: calc(var(--_icon-size) + var(--_padding));
  height: calc(var(--_icon-size) + var(--_padding));
  display: inline-flex;
  align-items: center;
  flex: none;
  padding: var(--_padding);
  position: absolute;
  margin-top: -0.125em;
  margin-left: 0.25em;
}

.btw-open-file.btn svg {
  height: 100%;
  margin: 0;
  padding: 0;
}

